.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  top: 0;
  background-color: #ca5b5b;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 0 10px 10px #ca5b5b;
  margin-bottom: 1rem;
}

.filters > div {
  display: flex;
  gap: 1rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #e5aaaa;
  height: 6px;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #c97f1d;
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
  width: 100%;
  appearance: none;
}
